# Archivos compilados de Java
*.class

# Archivos swap de Vim
*.swp

# --- Archivos de proyecto de IDEs ---

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Archivos del sistema operativo
Thumbs.db
.DS_Store
